.title-container{
    display: flex;
    justify-content: center;

}
.title-h2{
    font-size: 2rem;
    line-height: 1.3;
    color: #181819;
    text-align: center;
    margin: 0 0 4rem;
    font-weight: 500;
    padding: 1.5rem 0;
    font-family: Arial, sans-serif;
}
.title-span{
    background-color: #ffdf61;
    color: #181819;
    font-weight: 700;
    border-radius: 30px;
    padding: 5px 12px;
}

@media (max-width: 768px) {
    .title-h2{
        font-size: 2.4rem;
    }
    .title-span{
        font-size: 1.6rem;
    }
}